footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-direction: row; 
  color: #3bba9c; 
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}

.footer-left,
.footer-right {
  flex: 1;
}

.location {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footersocial {
  display: flex;
  justify-content: center;
  
}

h3.footerh3 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}

p.locationtext {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

.footersocial a {
  color: #3bba9c;
}

.footersocial a:hover {
  color: #267567; 
}